/* load bigger image to the main page */
@media screen and (min-width: 1400px) {
	#mainImg {
		height: 600px;
		background-image: url(../img/main_img_big.jpg);
	}
}

@media screen and (min-width: 780px) {
	/* to avoid bugs */
	header nav, header .upperHeader .signIn {
		display: block;	
	}
}

/* the main feature is divplaying burger 
   and changing navigation in header and footer */
@media screen and (max-width: 780px) {
	.headerDiv, .resultsDiv, .content, footer ul {
		min-width: 100px;
		width: 90%;
	}
	.upperHeader {
		display: -webkit-flex;
		display: 		 flex;
		-webkit-flex-direction: row;
				flex-direction: row;
	}

	header {
		height: auto;
		padding-bottom: 20px;
	}

	header nav .signIn {
		display: block;
	}

	header nav, header .upperHeader .signIn {
		display: none;	
		margin-top: 30px;
	}
	header ul li {
		display: block;
	}
	.upperHeader .fa-bars {
		display: block;
		
	}
	h1 span {
		line-height: 1;
	}
	header h1 span.logo {
		display: block;
		line-height: 1.5;
	}
	header span.hideEl {
		display: none;
	}

	footer ul {
		-webkit-flex-direction: column;
				flex-direction: column;
	}
	footer li {
		margin-bottom: 10px;
	}
	footer li:nth-child(1) {
		order: 1;
		margin-top: 10px;
		margin-bottom: 0;
	}
}

/* rebuilding news previews, .results, 
   change height of images, 
   load smaller images */
@media only screen and (max-width: 620px) {
	#mainImg {
		height: 300px;
		background-image: url(../img/main_img_small.jpg);
	}

	.resultsDiv {
		-webkit-flex-direction: column;
				flex-direction: column;
		-webkit-align-items: center;
				align-items: center;
		margin: 20px auto 30px;
	}
	.result {
		margin: 20px 10% 0px;
		width: 100%;
		max-width: 400px;
	}
	.content .block {
		-webkit-flex-direction: column;
				flex-direction: column;
	}
	.content .block article {
		margin-left: 0px;
		margin-top: 20px;
		height: 200px;
	}
	.content .imageDiv { 
		width: 100%;
		max-width: 400px;
	}
	.content div:nth-child(2) .imageDiv {
		max-width: 500px;
	}
	.content div:nth-child(2) article{
		height: 200px;
	}
	.content div:nth-child(2) p.shortText {
		-webkit-line-clamp: 5;
	}
	#descriptionImg {
		height: 330px;
	}
}

/* change size of images, 
   size of logo*/
@media only screen and (max-width: 380px) {
	#mainImg {
		height: 250px;
		background-image: url(../img/main_img_small.jpg);
		background-size: cover;
	}
	.content div:nth-child(2) .imageDiv {
		height: 200px;
	}
	h1 {
		font-size: 0.8rem;
	}

	h1 span.logo {
		font-size: 2rem;
	}
	#descriptionImg {
		height: 230px;
	}
}