
<div class="containerDiv">
	<form name="registrationForm" class="form upper" id="userRegisterForm">
		<h3>Регистрация</h3>
		<p>Email<br><input type="text" name="fos_user_registration_form[email]" autofocus maxlength="20" required></p>
		<p>Логин<br><input type="text" name="fos_user_registration_form[username]" autofocus maxlength="20" required></p>
		<p>Пароль<br><input type="password" name="fos_user_registration_form[plainPassword][first]" maxlength="20" required></p>
		<p>Повторите пароль<br><input type="password" name="fos_user_registration_form[plainPassword][second]" maxlength="20" required></p>
		<p><input type="submit" value="Зарегистрироваться"><p>
            {{ form_row(form._token) }}
	</form>
</div>


