<div class="background"></div>
<div class="containerDiv">
	<form name="loginForm" class="form upper">
		<h3>Вход</h3>
		<p><i class="fa fa-vk"></i><i class="fa fa-twitter"></i><i class="fa fa-google-plus"></i></p>
		<p><input type="text" placeholder="Логин" autofocus autocomplete="on" maxlength="20" required></p>
		<p><input type="password" placeholder="*******" autocomplete="on" maxlength="20" required></p>
		<p><input type="submit" value="Войти"><span class="registration">Регистрация</span><p>
	</form>
</div>